.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.front-header {
    display: flex;
    height: 50px;
    line-height: 50px;
    background: #202329;
}
.front-header-left {
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.front-header-left img, .front-header-dropdown img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #34daa9;
}
.front-header-left .title {
    flex: 1;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.front-header-center {
    flex: 1;
}
.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
    outline: none;
}
.front-header-dropdown {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    outline: none !important;
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/*页面具体样式自定义*/
.main-content {
    width: 80%;
    margin: 5px auto;
}
/* Ant Design Vue 菜单样式 - 强制覆盖 */
.front-header .ant-menu {
    background-color: #202329 !important;
    border: none !important;
    height: 50px !important;
    line-height: 50px !important;
}

.front-header .ant-menu-item {
    color: #ffffff !important;
    height: 50px !important;
    line-height: 50px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    margin: 0 8px !important;
    border-radius: 4px !important;
    transition: all 0.3s !important;
    opacity: 1 !important;
}

.front-header .ant-menu-item a {
    color: #ffffff !important;
}

.front-header .ant-menu-item:hover {
    color: #1890ff !important;
    background-color: rgba(24, 144, 255, 0.2) !important;
}

.front-header .ant-menu-item:hover a {
    color: #1890ff !important;
}

.front-header .ant-menu-item-selected {
    color: #1890ff !important;
    background-color: rgba(24, 144, 255, 0.25) !important;
    font-weight: 600 !important;
}

.front-header .ant-menu-item-selected a {
    color: #1890ff !important;
}

.front-header .ant-menu-item-selected::after {
    border-bottom: 3px solid #1890ff !important;
    bottom: 0 !important;
}

.front-header .ant-menu-horizontal {
    border: none !important;
}

/* 更具体的选择器确保样式生效 */
.front-header-center .ant-menu.ant-menu-horizontal .ant-menu-item {
    color: #ffffff !important;
    opacity: 1 !important;
    font-weight: 500 !important;
}

.front-header-center .ant-menu.ant-menu-horizontal .ant-menu-item a {
    color: #ffffff !important;
}

.front-header-center .ant-menu.ant-menu-horizontal .ant-menu-item:hover {
    color: #1890ff !important;
    background-color: rgba(24, 144, 255, 0.2) !important;
    opacity: 1 !important;
}

.front-header-center .ant-menu.ant-menu-horizontal .ant-menu-item:hover a {
    color: #1890ff !important;
}

.front-header-center .ant-menu.ant-menu-horizontal .ant-menu-item-selected {
    color: #1890ff !important;
    background-color: rgba(24, 144, 255, 0.25) !important;
    opacity: 1 !important;
    font-weight: 600 !important;
}

.front-header-center .ant-menu.ant-menu-horizontal .ant-menu-item-selected a {
    color: #1890ff !important;
}